@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,200;8..60,300;8..60,400;8..60,500;8..60,600;8..60,700&display=swap');
@import './responsive.scss';

.container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  .wrapper {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 90%;
    min-height: 100vh;
    margin-bottom: 50px;
    .intro {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      .title {
        width: 80%;
        .title__text {
          font-size: 7vw;
          font-family: 'cormorant', serif;
          font-weight: lighter;
          line-height: 1;
          text-align: center;
        }
      }
    }
    .course {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .presentation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin-bottom: 120px;
        h2 {
          font-size: 1.5rem;
          text-transform: uppercase;
          margin-bottom: 20px;
          text-align: center;
          font-weight: 400;
          @include tablet {
            font-size: 1.2rem;
          }
          @include mobile {
            font-size: 1rem;
          }
        }
        p {
          font-size: 1.4rem;
          font-weight: 400;
          text-align: center;
          line-height: 1;
          @include tablet {
            font-size: 1.2rem;
          }
          @include mobile {
            font-size: 1rem;
          }
        }
      }
      .objectivs {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
        .content {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          padding: 50px;
          @include tablet {
            flex-direction: column;
            padding: 20px;
            gap: 20px;
            align-items: flex-start;
          }
          h2 {
            font-size: 1rem;
            font-weight: 400;
          }
          p {
            width: 60%;
            font-size: 1.4rem;
            font-weight: 400;
            text-align: center;
            line-height: 1;
            opacity: 0.6;
            @include laptop {
              font-size: 1rem;
              width: 50%;
            }
            @include tablet {
              font-size: 1rem;
              width: 100%;
              text-align: start;
              line-height: 1.1;
            }
          }
        }
      }
    }
  }
}