@import './responsive.scss';

.about__container {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 2rem;
    margin-bottom: 300px;
    @include mobile {
        align-items: center;
    }
    .title {
        font-size: 1.2vw;
        text-transform: uppercase;
        @include tablet {
            font-size: 0.7rem;
        }
    }
    .description {
        font-size: 2vw;
        line-height: 1.4;
        text-transform: uppercase;
        @include tablet {
            font-size: 0.9rem;
        }
    }
}
