@import './colors.scss';

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradient {
  --size: 750px;
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  position: absolute;
  top: calc(50% - var(--size) / 2);
  left: calc(50% - var(--size) / 2);
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 11));
  background-image: linear-gradient($orange, $blue);
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 50%;
  clip-path: circle(50% at center) inset(10%);
  }

@media (min-width: 720px) {
  .gradient {
    --size: 750px;
  }
}

@media (min-width: 900px) {
  .gradient {
    --size: 800px;
  }
}

@media (min-width: 1200px) {
  .gradient {
    --size: 900px;
  }
}