@import './colors.scss';

.blob {
  height: 900px;
  aspect-ratio: 1;
  position: absolute;
  left: 23%;
  top: 4%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(
    to right,
    $cyan,
    $red
  );
  animation: rotate 20s infinite;
  filter: blur(70px);
}
.blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(10px);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  50% {
    scale: 1 1.2;
  }
  to {
    transform: rotate(360deg);
  }
}