@import './colors.scss';

.button_outline {
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform 0.4s ease;
  width: fit-content;
  height: 70px;
  &:hover {
    transform: scale(1.2);
    svg {
      .filled {
        stroke-dashoffset: 0;
      }
    }
  }
  &:active {
    transform: scale(1.3);
  }
  svg {
    .bg_svg {
      stroke: rgba(81, 96, 240, 0.25);
      stroke-width: 1;
    }
    .filled {
      stroke: $blue;
      stroke-width: 1;
      stroke-dasharray: 1;
      stroke-dashoffset: 1;
      transform-origin: 50%;
      transition: stroke-dashoffset 0.4s ease-in-out;
    }
  }
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $blue;
    font-size: 1rem;
    will-change: transform;
    width: calc(100% - 3em);
  }
}