.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  .contact__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}