.container {
  display: flex;
  justify-content: center;
  align-items: center;
  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
    .left {
      ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
      }
    }
    .right {
      ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;
        li {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #fff;
          transition: all .15s cubic-bezier(.445,.05,.55,.95);
          position: relative;
          &:hover {
            background-color: #bbbbbb;
          }
        }
      }
    }
  }
}