@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://api.fontshare.com/v2/css?f[]=chillax@600,500,300,700,400,200&display=swap");

@layer base {
    body {
        background-color: #EFEBE4;
    }
    * {
        @apply antialiased;
        -webkit-font-smoothing: antialiased;
    }
    p {
        @apply font-chillax;
    }
    a {
        @apply font-chillax;
    }
    span {
        @apply font-chillax;
    }
    li {
        @apply font-chillax;
    }
    h1 {
        @apply font-chillax;
    }
    h2 {
        @apply font-chillax;
    }
    h3 {
        @apply font-chillax;
    }
    h4 {
        @apply font-chillax;
    }
    h5 {
        @apply font-chillax;
    }
    h6 {
        @apply font-chillax;
    }
}

@layer components {
    .footer-link {
        @apply font-chillax;
        color: white;
        opacity: 0.5;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
    }
    .footer-link:hover {
        @apply font-chillax;
        opacity: 1;
    }
    .default-text-blue {
        font-size: 4vw;
        color: #5160F0;
        line-height: 1.15;
        @media (max-width: 980px) {
            font-size: 8vw;
        }
    }
}
