.hamburger__container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 46px;
    position: relative;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
    .hamburger__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 35%;
        width: 100%;
        transition: all 0.3s ease;
        .hamburger__inner {
            background-color: white;
            content: "";
            display: block;
            width: 15px;
            height: 1px;
            margin-bottom: 3px;
            position: relative;
            transition: all 0.3s ease;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &:hover {
        border: 1px solid rgba(255, 255, 255, 1);
        transition: all 0.3s ease;
        .hamburger__box {
            transition: all 0.3s ease;
            .hamburger__inner {
                transition: all 0.3s ease;
                &:first-child {
                    transform: translateY(-3px);
                }
                &:last-child {
                    transform: translateY(3px);
                }
            }
        }
    }
    .hamburger__box__open {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        transition: all 0.3s ease;
        .hamburger__inner {
            transition: all 0.3s ease;
            background-color: white;
            content: "";
            display: block;
            width: 15px;
            height: 1px;
            position: relative;
            transition: all 0.3s ease;
            &:first-child {
                margin-bottom: 0;
                transform: rotate(-45deg);
            }
            &:last-child {
                margin-bottom: 0;
                transform: rotate(45deg);
            }
        }
        &:hover {
            transform: rotate(90deg);
        }
    }
}