@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,200;8..60,300;8..60,400;8..60,500;8..60,600;8..60,700&display=swap');

.button {
    overflow: hidden;
    width: fit-content;
    height: 40px;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 25px;
    padding: 0.5rem 1.5rem;
    transition: all 0.2s ease-in-out;
    .button_text {
        color: #fff;
        position: relative;
        font-weight: 600;
    }
    .button_text_hover {
        color: #fff;
        position: relative;
        top: -30px;
        font-weight: 600;
        opacity: 0;
    }
    &:hover {
        border: 1px solid rgba(255,255,255,1);
    }
}