.button {
    width: fit-content;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-in-out;
    .button_text {
        color: #fff;
    }
    &:hover {
        background-color: #fff;
        p {
            color: #000;
        }
    }
}