@import './responsive.scss';

.box {
    width: fit-content;
    padding: 0.3rem 0.7rem 0.2rem 0.7rem;
    border: 1px solid #000;
    border-radius: 25px;
    @include tablet {
      padding: 0.2rem 0.5rem 0.1rem 0.5rem;
    }
    p {
      font-size: 14px;
      color: #000;
      text-transform: uppercase;
        @include tablet {
          font-size: 10px;
        }
    }
}